
<% include ./partials/header.ejs %>


    <div class="profile w-full min-h-screen bg-zinc-800 text-white pt-1">
      <form id="uploadform" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="">
      </form>


      <div class="profdets flex flex-col items-center mt-20">

        <div class="relative">
          <span class="w-8 h-8 absolute bottom-0 right-0 rounded-full flex items-center justify-center bg-zinc-300">
            <i id="uploadicon" class="text-zinc-800 ri-pencil-fill"></i>
          </span>

          <div class="w-32 h-32 bg-zinc-200 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" 
                   src="/images/uploads/<%= user.profileImage %>" alt="">
          </div>
        </div>

        <h1 class="text-3xl font-semibold mt-5"><%= user.fullname %></h1>
        <h3 class="text-md">@<%= user.username %></h3>
        <a href="/edit" class="mt-5 px-7 py-2 bg-zinc-700 rounded-full text-xs font-semibold">Edit</a>
        <a href="/add" class="px-10 py-2 rounded-lg bg-red-700 text-xs font-semibold mt-10">Add new Post</a>
      </div>

      <div class="cards flex flex-wrap gap-10 px-10 py-10 mt-10">
        <div class="card">
          <div class="w-52 h-40 bg-zinc-200 rounded-lg overflow-hidden">
            <img class="w-full h-full object-cover" 
                   src="/images/uploads/<%= user?.posts[0]?.image %>" alt="">
          </div>
          <a href="/show/posts" class="inline-block text-xl font-semibold mt-3">your Pins</a>
          <h5 class="text-sm font-semibold opacity-60"><%= user.posts.length %> Pins</h5>
        </div>
      </div>

      

      <script>
        document.querySelector("#uploadicon").addEventListener("click", function() {
          document.querySelector('#uploadform input').click();
        })

        document.querySelector("#uploadform input").addEventListener("change", function() {
          document.querySelector('#uploadform').submit();
        })



      </script>

    </div>








    <!-- <div class="bg-cover"></div>
    <div class="contain">
        <div class="header">
            <i class="fa fa-bars"></i>
            <i class="fa fa-cog"></i>
        </div>
        <div class="middle">
            <img src="https://images.unsplash.com/photo-1700394605181-1dacde1dbff0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMDd8fHxlbnwwfHx8fHw%3D" alt="" class="user-pic" />
            <h4 class="name"><%= user.fullname %></h4>
            <h4 class="username">@<%= user.username %></h4>
            <p class="tagline">Lorem ipsum dolor sit amet consectetur.</p>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia, ut tempore accusamus corrupti officiis labore doloribus repudiandaiti.</p>
            <a href="/logout" class="button">Logout </a><br/>
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <input type="text" name="filecaption" placeholder="some caption">
              <input type="file" name="file" id="">
              <button type="submit">Upload</button>
            </form>
        </div>
    </div> -->


    <!-- <div class="container">

      <div class="cards flex">
        <% user.posts.forEach(function(post){ %>
          <div class="card" style="width: 18rem;">
              <img src="/images/uploads/<%= post.image %>" 
                    class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><%= post.imageText %></p>
              </div>
            </div>
        <%}) %>
      </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <% include ./partials/footer.ejs %>


